html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
div.menu {
    padding-left: 10px;
}
div.menu h3 {
    color: #EE10B0;
    
}
div.home {
    display:flex;
    flex-direction: row;
    align-items: center;
    width:226px;
    border-radius:9px;
    color:#D9D9D9;
}
 div.discover,div.album, div.artist, div.recentlyadded, div.mostplayed, div.yourfavourite, div.yourplaylist, div.addplaylist, div.setting, div.logout{
    display:flex;
    flex-direction: row;
    align-items: center;
    color:white;
    width:226px;
    gap:10px
}

